.superior{
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    background-color: turquoise;
    text-align: center;
    display: flex;
    flex-direction: row;
     justify-content: space-around;
}
header > div {
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
}
footer{
    font-size: small;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: turquoise;
    padding: 10px;
    text-align: center;
}
.logo{
    width: 25em;    
}
.cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;   
    
}
.biografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.aficiones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.habilidades{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 50px;
    text-align: center;
}
td{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.Tabla{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 80px;

}


